<template>
    <div class="sq-card-puppy-info">
        <div class="photo"><img :src="photoPath" :alt="petName" /></div>
        <div class="title">{{ petName }}</div>
        <div class="age">연세 : {{ petAge }}</div>
        <div class="birthday">생일 : {{ petBirthDay }}</div>
        <div>가격 : {{ petPrice | currency }}원</div>

        <div v-if="petAge >= 10">노령</div>
        <div v-else>일반</div>
</div>
</template>

<script>
export default {
    props: {
        photoPath: {
            type: String,
            required: true
        },
        petName: {
            type: String,
            required: true
        },
        petAge: {
            type: Number,
            required: true
        },
        petBirthDay: {
            type: String,
            required: true
        },
        petPrice: {
            type: Number,
            required: false,
            default: 0
        }
    }
}
</script>
