<template>
    <div>
        <h1>내 반려동물들</h1>
        <section>
            <card-puppy-info
                v-for="(item, index) in puppy"
                v-bind:key="index"
                v-bind:pet-birth-day="item.puppyBirthDay"
                v-bind:pet-age="item.puppyAge"
                v-bind:pet-name="item.puppyName"
                v-bind:photo-path="item.photoName"
                v-bind:pet-price="item.puppyPrice"
            />
        </section>
    </div>
</template>

<script>
export default {
    data() {
        return {
            puppy: [
                    {
                        photoName: '/images/puppy_01.jpeg',
                        puppyName: '한아지',
                        puppyAge: 5,
                        puppyBirthDay: '01-01',
                        puppyPrice: 0
                    },
                    {
                        photoName: '/images/puppy_02.jpeg',
                        puppyName: '둘아지',
                        puppyAge: 10,
                        puppyBirthDay: '02-01',
                        puppyPrice: 200000
                    },
                    {
                        photoName: '/images/puppy_03.jpeg',
                        puppyName: '셋아지',
                        puppyAge: 3,
                        puppyBirthDay: '03-01',
                        puppyPrice: 200000
                    },
                    {
                        photoName: '/images/puppy_04.jpeg',
                        puppyName: '넷아지',
                        puppyAge: 15,
                        puppyBirthDay: '04-01',
                        puppyPrice: 200000
                    },
                    {
                        photoName: '/images/puppy_05.jpeg',
                        puppyName: '오아지',
                        puppyAge: 12,
                        puppyBirthDay: '05-01',
                        puppyPrice: 200000
                    }
                ]
            }
        }
    }
</script>
