<template>
    <div>
        {{ testValue }}
        <button @click="changeMessage()">바꾸기</button>
    </div>
</template>

<script>
export  default {
    //기본으로 내보낼거야
    data() {
        return {
            testValue: '안녕하세요' //vue에서 ; 안씀
        }
    },
    methods: {
        //function 안 씀
        changeMessage() {
            this.testValue = '반가워요'
        }
    }
}
</script>
